

@media only screen and (max-width: 400px){
    #section_team .team_name{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 360px){
    #section_team .team_name{
        font-size: .8rem;
    }
}



@media only screen and (max-width: 340px){
    
    #section_main .car_info p{
        font-size: .9rem;
    }
    
    #section_main .car_info .price{
        font-size: .9rem;
    }
    
    #section_main .car_info .price{
        font-size: .9rem;
    }
}


@media only screen and (max-width: 320px){
    
    /* content heading  */
        .heading{
            font-size: 2.0rem;
        }
    }
    
@media only screen and (max-width: 310px){
    
    #section_main .car_info p{
        font-size: .8rem;
    }
    
    #section_main .car_info .price{
        font-size: .8rem;
    }
    
    #section_main .car_info div .btn{
        font-size: .8rem;
    }

    #section_team .team_name{
        font-size: .7rem;
    }
}

@media only screen and (max-width: 290px){
    
    #section_main .car_info p{
        font-size: .7rem;
    }
    
    #section_main .car_info .price{
        font-size: .7rem;
    }
    
    #section_main .car_info div .btn{
        font-size: .7rem;
    }
}


@media only screen and (max-width: 270px){
    
/* content heading  */
    .heading{
        font-size: 1.8rem;
    }
}